.dot {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 25px;
    color: $color-text;
    border-radius: 50%;
    background: currentColor;

    &.light {
        color: $color-arrow-light;
    }

    &.inactive {
        color: $color-border;
    }
}


.arrow {
    font-size: 10px;
    position: relative;
    height: 5px;
    background: currentColor;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        border: 1em solid;
        border-color: transparent transparent transparent currentColor;
    }

    &.light {
        color: $color-arrow-light;
    }

    &.dark {
        color: $color-arrow-dark;
    }

    &.inactive {
        color: $color-border;
    }
}

.iline {
    height: 5px;
    background: currentColor;

    &.light {
        color: $color-arrow-light;
    }

    &.dark {
        color: $color-arrow-dark;
    }

    &.inactive {
        color: $color-border;
    }
}

.from,
.to,
.line {
    //display: block;
    //position: relative;
    //height: 5px;
    //background: currentColor;
    //
    //&.light {
    //    color: $color-arrow-light;
    //}
    //
    //&.dark {
    //    color: $color-arrow-dark
    //}
    //
    //&.inactive {
    //    color: $color-border;
    //}
}

.line {
    flex: 1 1 100%;
}

.from {
    flex: 0 0 50%;
    margin: 0 0 0 auto;

    &--prev {
        margin-left: 0;
    }
}

.to {
    font-size: 10px;
    flex: 0 0 50%;
    margin: 0 auto 0 -1em;

    &--next {
        margin-right: 1em;
    }

    //&:before {
    //    content: '';
    //    display: block;
    //    position: absolute;
    //    top: 50%;
    //    transform: translateY(-50%);
    //    left: 100%;
    //    border: 1em solid;
    //    border-color: transparent transparent transparent currentColor;
    //}
}